---
layout: inlibraries_layout.njk
---

<div x-data="conferenceDetails()" x-init="loadTemplates()">
    <div class="shadow-lg">
        <h1 class="text-3xl sm:text-3xl md:text-4xl lg:text-6xl text-white text-center bg-blue-600" x-text="[topic] + ' In Libraries'"></h1>
    </div>
    <div class="grid sm:grid-cols-1 lg:grid-cols-2">
        <div class="shadow-sm p-4">
            
                <h2 class="text-xl sm:text-xl md:text-2xl">Confirmed Sessions</h2>
            
            <ul class="list-disc list-inside p-2">
                <template x-for="sessionTitle in sessionTitles" :key="sessionTitle">
                    <li x-text="sessionTitle"></li>
                </template>
            </ul>
        </div>
        <div class="shadow-sm p-4 bg-gray-200">
            
                <h2 class="text-xl sm:text-xl md:text-2xl">Keynote Speakers</h2>
            
            <ul class="list-disc list-inside p-2">
                <template x-for="speaker in speakers" :key="speaker">
                    <li x-text="speaker"></li>
                </template>
            </ul>        
        </div>
    </div>
</div>
